body {
	width: 55%;
	margin: auto;
	color: #2d3c49;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
}

img {
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
}
hr {
	display: block;
	border-width: thin;
	border-style: solid;
	border-color: #7d97ad;
}
.logo {
	width: 50px;
	margin: auto;
}
